@import './navigation.scss';
@import './create.scss';
@import './itemCard.scss';
@import './home.scss';
@import './details.scss';

a {
  text-decoration: none !important;
}

.app__label {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
