.create {
  padding: 2em;
  .column-left {
    display: flex;
    padding: 1em;
    justify-content: center;
  }
  &__phone-state {
    border-radius: 15px;
    width: 100%;
    padding: 1em;
    background-color: $platinum;

    label {
      font-weight: bold;
    }

    & .row {
      padding: 0.5em 0;
    }
    &__estado {
      width: 100%;
    }

    &__field {
      width: 75%;
    }

    & .screen {
      display: flex;
      flex-flow: row nowrap;
      gap: 5px;
      align-items: center;
      &__pulgs {
        color: $cool-gray;
      }
    }

    @media (max-width: 540px) {
      &__field {
        width: 100%;
      }
    }
  }

  &__details {
    padding: 1.5em;

    & label,
    legend {
      font-weight: bold;
    }

    &__precio {
      border: 2px solid $platinum;
      border-radius: 5px;
      width: 50%;
      margin: auto;
      padding: 1em;
    }
  }

  &__image-input {
    background-color: $platinum;

    &__field {
      display: flex;
      gap: 1em;
    }

    &__gallery {
      padding: 1em;
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      gap: 1em;
      &__card {
        background-color: $charcoal;
        min-width: min-content;
      }

      &__btn {
        position: absolute;
        top: -10px;
        right: -10px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__image {
        margin: 0;
        height: 200px;
      }
    }
    @media (max-width: 900px) {
      &__gallery {
        flex-flow: row nowrap;
        overflow-y: auto;
        overflow-x: scroll;
      }
    }
  }

  &__btn-group {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}
