.details {
  padding: 2em;

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    @media (max-width: 750px) {
      grid-template-columns: 1fr;
    }
  }

  &__main {
    padding: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-direction: column;

    & button {
      border-radius: 0 !important;
    }

    &__seller {
      flex-direction: column;
      gap: 5px;
      color: $cool-gray;
      padding: 1em;
    }
  }

  &__specs {
    display: grid !important;
    & .row {
      margin: 1em;
      padding-bottom: 5px;
      border-bottom: 2px solid $platinum;
    }
  }
}
