.home {
  display: grid;
  grid-template-columns: 250px auto;
  max-width: 2000px;
  margin: auto;

  &__filters {
    font-size: 1.1em;
    padding: 1em;
    overflow: hidden;
    &__section {
      padding: 1em;
      margin-bottom: 2em;
      border: 2px solid $platinum;
      display: flex;
    }

    &__section-title {
      position: absolute;
      margin-left: 0;
      margin-top: -30px;
      color: $charcoal;
      background-color: $white;
      padding: 0 10px;
      font-size: 16px;
    }

    & .estado {
      gap: 5px;
    }

    & .marca,
    .sistema {
      flex-flow: column;
      gap: 1em;
    }
  }

  &__item-list {
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__top-filters {
    display: flex;
    align-items: center;
    justify-content: center;

    & .home__filters__section {
      min-width: 200px;
      margin: 2em;
    }

    .range {
      &__inputs {
        display: flex;
        flex-direction: row nowrap;
        align-items: center;
        gap: 1em;

        & label {
          font-size: 2em;
        }

        & input {
          width: 75px;
        }
      }
    }

    .sort {
      &__inputs {
        display: flex;
        flex-direction: row nowrap;
        align-items: center;
        gap: 1em;

        & button {
          border: 2px solid $platinum;
          border-radius: 0;
        }
      }
    }
  }

  @media (max-width: 945px) {
    &__item-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 815px) {
    &__top-filters {
      & .home__filters__section {
        margin: 1em 10px;
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    &__filters {
      transition: 0.3s ease;
      position: fixed;
      overflow: scroll !important;
      top: 0;
      width: 250px;
      height: 100vh;
      z-index: 10;

      &__hidden {
        width: 0px;
        overflow: hidden !important;
        padding: 0;
        border: none;
      }

      &__toggle-btn {
        position: fixed;
        z-index: 5;
        top: 5px;
        right: 5px;
        background-color: $primary;
        border: 2px solid $platinum;
        color: $platinum;
        opacity: 0.5;

        &:hover {
          background-color: $primary;
          border: 2px solid $platinum;
          color: $platinum;
        }
      }
    }

    &__item-list {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 540px) {
    &__item-list {
      grid-template-columns: 1fr;
    }

    &__top-filters {
      flex-direction: column;
    }
  }

  @media (max-width: 280px) {
    &__top-filters {
      & .home__filters__section {
        margin: 1em 10px;
      }
    }
  }
}
