.ItemCard {
  & .b-form-tag {
    border: 2px solid $platinum !important;
  }
  max-width: 350px;
  & img {
    height: 150px;
  }
  &__header {
    display: flex;
    align-items: flex-start;
    &__title {
      padding-right: 1em;
      font-size: 1.1em;
      font-weight: bold;
    }

    &__price {
      font-size: 1.1em;
    }
  }

  &__tag-group {
    margin-top: 1em;
    color: $charcoal;
    text-align: justify;
  }
}

.spacer {
  flex-grow: 1;
}
