.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($charcoal, 0.7);
  z-index: 3;
  display: flex;
  font-size: 2em;
  color: white;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  & .loading-image {
    height: 50px;
    aspect-ratio: 1/1;
  }
}
.navigation {
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 4px;
  }

  &__form {
    width: 50%;

    & .btn {
      border-radius: 30px;
    }

    & *:first-child {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      gap: 1em;
    }

    &__input {
      border: 2px solid white;
      border-radius: 30px;
      background-color: transparent;
      outline: none;

      &:focus {
        background-color: transparent;
        color: white;
      }
    }
  }

  &__btn-group {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    align-items: center;
    justify-content: center;

    & .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-radius: 50px;
    }
  }

  @media (max-width: 992px) {
    &__content {
      padding-top: 1em;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__form {
      width: 100%;
    }

    &__btn-group {
      width: 100%;
      padding: 1em;
    }
  }
}
