<template>
  <div class="create">
    <div v-if="postLoading" class="loading-screen">
      <img src="../assets/loading.gif" class="loading-image" alt="loading" />
      {{ postLoadingMessage }}
    </div>
    <h1>Nuevo anuncio</h1>
    <hr />
    <b-form @submit="postAnuncio">
      <b-row>
        <b-col lg="6" md="6" sm="12" xs="12" class="column-left" validated>
          <b-card class="create__phone-state shadow p-3 mb-5 rounded">
            <h2>Detalles del telefono</h2>
            <hr />

            <b-row>
              <b-col cols="12" sm="3">
                <label for="estado">Estado: </label>
              </b-col>
              <b-col cols="12" sm="9">
                <b-form-radio-group
                  required
                  name="estado"
                  v-model="nuevoAnuncio.estado"
                  class="create__phone-state__estado"
                  label-cols="3"
                >
                  <b-form-radio value="nuevo">nuevo</b-form-radio>
                  <b-form-radio value="usado">usado</b-form-radio>
                </b-form-radio-group>
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="12" sm="3">
                <label for="marca">Marca: </label>
              </b-col>
              <b-col cols="12" sm="9">
                <b-form-input
                  required
                  name="marca"
                  v-model="nuevoAnuncio.marca"
                  placeholder="Iphone"
                  class="create__phone-state__field"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" sm="3">
                <label for="modelo">Modelo: </label>
              </b-col>
              <b-col cols="12" sm="9">
                <b-form-input
                  required
                  name="modelo"
                  v-model="nuevoAnuncio.modelo"
                  placeholder="6 plus"
                  class="create__phone-state__field"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" sm="3">
                <label for="pantalla">Pantalla: </label>
              </b-col>
              <b-col cols="12" sm="9" class="screen">
                <b-form-input
                  required
                  number
                  type="number"
                  name="pantalla"
                  v-model="nuevoAnuncio.pantalla"
                  placeholder="5.5"
                  class="create__phone-state__field"
                ></b-form-input>
                <div class="screen__pulgs">pulgs</div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" sm="3">
                <label for="sistema-operativo">OS: </label>
              </b-col>
              <b-col cols="12" sm="9" class="screen">
                <b-form-select
                  required
                  v-model="nuevoAnuncio.sistema"
                  :options="['iOS', 'Android', 'Windows Mobile', 'HarmonyOS']"
                  class="create__phone-state__field"
                ></b-form-select>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" sm="3">
                <label for="rom">ROM: </label>
              </b-col>
              <b-col cols="12" sm="9" class="screen">
                <b-form-input
                  required
                  number
                  type="number"
                  name="rom"
                  v-model="nuevoAnuncio.rom"
                  placeholder="8"
                  class="create__phone-state__field"
                ></b-form-input>
                <div class="screen__pulgs">GB</div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" sm="3">
                <label for="ram">RAM: </label>
              </b-col>
              <b-col cols="12" sm="9" class="screen">
                <b-form-input
                  required
                  number
                  type="number"
                  name="ram"
                  v-model="nuevoAnuncio.ram"
                  placeholder="8"
                  class="create__phone-state__field"
                ></b-form-input>
                <div class="screen__pulgs">GB</div>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
        <b-col lg="6" md="6" sm="12" xs="12" class="column-right">
          <div class="create__details">
            <b-form-group label="Titulo del anuncio: " label-for="titulo">
              <b-form-input
                required
                v-model="nuevoAnuncio.titulo"
              ></b-form-input>
            </b-form-group>
            <b-form-group label="Vendedor: " label-cols="0" label-cols-sm="3">
              <b-form-input
                required
                v-model="nuevoAnuncio.vendedor"
              ></b-form-input>
            </b-form-group>
            <b-form-group label="Telefono: " label-cols="0" label-cols-sm="3">
              <b-form-input
                required
                v-model="nuevoAnuncio.telefono"
              ></b-form-input>
            </b-form-group>
            <b-form-group label="Descripcion: " label-for="descripcion">
              <b-form-textarea
                required
                v-model="nuevoAnuncio.descripcion"
              ></b-form-textarea>
            </b-form-group>
            <div class="create__details__precio">
              <b-form-group label="Precio: ">
                <b-form-input
                  required
                  number
                  type="number"
                  v-model="nuevoAnuncio.precio"
                ></b-form-input>
              </b-form-group>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-card class="shadow p-3 mb-5 rounded create__image-input">
        <h2>Imagenes</h2>
        <hr />
        <div class="create__image-input__field">
          <b-form-file
            accept="image/*"
            @change="addImage"
            :state="imageOk"
            placeholder="Choose an image or drop it here..."
            drop-placeholder="Drop file here..."
          ></b-form-file>
        </div>
        <div class="create__image-input__gallery">
          <b-card
            class="shadow rounded create__image-input__gallery__card"
            v-for="(image, index) in imageList"
            :key="index"
          >
            <img
              :src="image | processImage"
              :alt="image.name"
              class="create__image-input__gallery__image"
            />
            <b-button
              variant="danger"
              class="create__image-input__gallery__btn"
              @click="deleteImage(index)"
            >
              <b-icon icon="BIconTrashFill"></b-icon>
            </b-button>
          </b-card>
        </div>
      </b-card>
      <div class="create__btn-group">
        <b-button size="lg" @click="cancelarAnuncio" variant="secondary">
          Cancel
        </b-button>
        <b-button size="lg" type="submit" variant="primary">Submit</b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
import { BIcon } from "bootstrap-vue";
import { message } from "../toaster";
import { storage } from "../db";
import { postAnuncio } from "../API/anuncios";
export default {
  name: "nuevo-anuncio",

  components: {
    BIcon,
  },

  data() {
    return {
      nuevoAnuncio: {},
      imageList: [],
      imageOk: true,

      postLoading: false,
      postError: false,
      postLoadingMessage: "testing",
    };
  },

  methods: {
    cancelarAnuncio: function () {
      this.nuevoAnuncio = {};
      this.imageList = [];
      this.imageOk = true;
      this.$router.push("/");
      message.warning("Anuncio cancelado");
    },

    postAnuncio: async function (evt) {
      evt.preventDefault();
      this.postLoading = true;
      this.postLoadingMessage = "Subiendo Imagenes";
      const totalImages = this.imageList.length;

      const images = await Promise.all(
        this.imageList.map(async (image, index) => {
          const file = storage.ref(`phone-images/${image.name}`);

          try {
            await file.put(image);
            this.postLoadingMessage = `Subiendo imagen ${
              index + 1
            } / ${totalImages}`;
            return file.getDownloadURL();
          } catch (error) {
            this.postError = true;
            this.postLoading = false;
            message.error(error);
          }
        })
      );

      try {
        await postAnuncio({
          ...this.nuevoAnuncio,
          images,
        });
        this.postLoadingMessage = "Publicando anuncio";
        this.postLoading = false;
        this.$router.push("/");
      } catch (error) {
        this.postError = true;
        this.postLoading = false;
        message.error(error);
      }
    },
    addImage: function (e) {
      const image = e.target.files[0];
      this.imageList.push(image);
    },
    deleteImage: function (index) {
      this.imageList.splice(index, 1);
    },
  },
  filters: {
    processImage(image) {
      return URL.createObjectURL(image);
    },
  },
};
</script>

