<template>
  <div class="details">
    <h2 class="details__title">{{ item.titulo }}</h2>
    <hr />
    <div class="details__content">
      <div class="details__gallery">
        <b-carousel
          id="carousel-1"
          v-model="slide"
          :interval="4000"
          controls
          indicators
          img-width="1024"
          img-height="480"
        >
          <b-carousel-slide
            v-for="image in item.images"
            :key="image"
            :img-src="image"
          >
          </b-carousel-slide>
        </b-carousel>
      </div>
      <div class="details__main">
        <h3 class="details__main__title">
          {{ item.marca }} {{ item.modelo }}
          <b-form-tag no-remove class="details__main__state">
            {{ item.estado }}
          </b-form-tag>
        </h3>
        <div class="details__main__seller home__filters__section">
          <label class="home__filters__section-title"> vendedor </label>
          <p class="details__main__seller__vendedor">
            Nombre: {{ item.vendedor }}
          </p>
          <p class="details__main__seller__telefono">
            Telefono: {{ item.telefono }}
          </p>
        </div>
        <h3>
          Precio: <span class="details__main__price"> {{ item.precio }}</span> $
        </h3>
        <b-button variant="secondary">Comprar</b-button>
      </div>
      <div class="details__specs home__filters__section">
        <label class="home__filters__section-title">Especificaciones</label>
        <b-row>
          <b-col cols="6"> Marca: </b-col>
          <b-col cols="6"> {{ item.marca }} </b-col>
        </b-row>
        <b-row>
          <b-col cols="6"> Modelo: </b-col>
          <b-col cols="6"> {{ item.modelo }} </b-col>
        </b-row>
        <b-row>
          <b-col cols="6"> Pantalla: </b-col>
          <b-col cols="6"> {{ item.pantalla }} pulgs </b-col>
        </b-row>
        <b-row>
          <b-col cols="6"> Sistema: </b-col>
          <b-col cols="6"> {{ item.sistema }} </b-col>
        </b-row>
        <b-row>
          <b-col cols="6"> Ram: </b-col>
          <b-col cols="6"> {{ item.ram }} GB</b-col>
        </b-row>
        <b-row>
          <b-col cols="6"> Rom: </b-col>
          <b-col cols="6"> {{ item.rom }} GB</b-col>
        </b-row>
      </div>
      <div class="details__descripcion home__filters__section">
        <label class="home__filters__section-title"> descripcion </label>
        <p class="details__descripcion__content">{{ item.descripcion }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../db";

export default {
  data: () => ({
    item: {},
    slide: 0,
  }),

  created() {
    this.$bind("item", db.collection("anuncios").doc(this.$route.params.id));
  },
};
</script>