<template>
  <div class="home">
    <b-card
      :class="`home__filters ${hiddenSidebar ? `home__filters__hidden` : ''}`"
    >
      <b-btn class="home__filters__toggle-btn" v-if="windowWidth <= 768">
        <b-icon @click="toggleHiddenSidebar" icon="BIconFunnelFill"> </b-icon>
      </b-btn>
      <div class="home__filters__section estado">
        <p class="home__filters__section-title">Estado</p>
        <b-form-checkbox
          v-model="filters.estado"
          value="usado"
          unchecked-value="nuevo"
          name="check-button"
          switch
        />
        <div>{{ filters.estado }}</div>
      </div>

      <div class="home__filters__section marca">
        <p class="home__filters__section-title">Marca</p>
        <b-form-checkbox-group v-model="filters.marca">
          <b-form-checkbox value="Samsung" class="marca__item">
            Samsung
          </b-form-checkbox>
          <b-form-checkbox value="Huawei" class="marca__item">
            Huawei
          </b-form-checkbox>
          <b-form-checkbox value="Nokia" class="marca__item">
            Nokia
          </b-form-checkbox>
          <b-form-checkbox value="Iphone" class="marca__item">
            iPhone
          </b-form-checkbox>
          <b-form-checkbox value="Xiaomi" class="marca__item">
            Xiaomi
          </b-form-checkbox>
        </b-form-checkbox-group>
      </div>
      <div class="home__filters__section sistema">
        <p class="home__filters__section-title">Sistema</p>
        <b-form-checkbox-group v-model="filters.sistema">
          <b-form-checkbox value="iOS" class="marca__item">
            iOS
          </b-form-checkbox>
          <b-form-checkbox value="Android" class="marca__item">
            Android
          </b-form-checkbox>
          <b-form-checkbox value="Windows Mobile" class="marca__item">
            Windows Mobile
          </b-form-checkbox>
          <b-form-checkbox value="HarmonyOS" class="marca__item">
            HarmonyOS
          </b-form-checkbox>
        </b-form-checkbox-group>
      </div>
      <div class="home__filters__section pantalla">
        <p class="home__filters__section-title">Pantalla</p>
        <b-form-input
          placeholder="pulgs"
          type="number"
          min="3"
          max="8"
          v-model="filters.pantalla"
        ></b-form-input>
      </div>
    </b-card>
    <div>
      <div class="home__top-filters">
        <div class="home__filters__section">
          <label class="home__filters__section-title">Rango de precios</label>
          <div class="range__inputs">
            <b-form-input
              v-model="filters.minPrice"
              placeholder="min"
            ></b-form-input>
            <label for="">-</label>
            <b-form-input
              v-model="filters.maxPrice"
              placeholder="max"
            ></b-form-input>
          </div>
        </div>
        <div class="home__filters__section sort">
          <label class="home__filters__section-title">Ordenar por</label>
          <div class="sort__inputs">
            <b-button @click="sortPrice" variant="white">
              Precio
              <b-icon
                v-if="filters.sortByPrice === 'asc'"
                icon="BIconArrowUp"
              ></b-icon>
              <b-icon
                v-if="filters.sortByPrice === 'desc'"
                icon="BIconArrowDown"
              ></b-icon>
            </b-button>
          </div>
        </div>
      </div>
      <div class="home__item-list">
        <itemCard v-for="item in postList" :key="item.id" :item="item" />
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../db";
import itemCard from "../components/itemCard.vue";
import { BIcon } from "bootstrap-vue";

export default {
  name: "Home",
  components: {
    itemCard,
    BIcon,
  },

  data: () => ({
    postList: [],
    filters: {
      sortByPrice: null,
    },
    windowHeight: window.innerHeight,
    windowWidth: window.innerWidth,
    hiddenSidebar: false,
  }),

  methods: {
    mapFiltersToBinding() {
      let target = db.collection("anuncios");

      if (this.filters.estado)
        target = target.where("estado", "==", this.filters.estado);

      if (this.filters.marca && this.filters.marca.length > 0)
        target = target.where("marca", "in", this.filters.marca);

      if (this.filters.sistema && this.filters.sistema.length > 0)
        target = target.where("sistema", "in", this.filters.sistema);

      if (this.filters.pantalla)
        target = target.where("pantalla", ">=", this.filters.pantalla);

      if (this.filters.minPrice)
        target = target.where("precio", ">=", this.filters.minPrice);

      if (this.filters.maxPrice)
        target = target.where("precio", "<=", this.filters.maxPrice);

      if (this.filters.sortByPrice)
        target = target.orderBy("precio", this.filters.sortByPrice);

      return target;
    },

    sortPrice() {
      this.filters.sortByPrice =
        this.filters.sortByPrice === "asc" ? "desc" : "asc";
    },
    onResize() {
      this.windowHeight = window.innerHeight;
      this.windowWidth = window.innerWidth;
    },
    toggleHiddenSidebar() {
      this.hiddenSidebar = !this.hiddenSidebar;
    },
  },

  created() {
    this.$bind("postList", this.mapFiltersToBinding());
    window.addEventListener("resize", this.onResize);
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },

  watch: {
    filters: {
      handler() {
        console.log(JSON.parse(JSON.stringify(this.filters)));
        this.$unbind("postList");
        this.$bind("postList", this.mapFiltersToBinding());
      },
      deep: true,
    },
  },
};
</script>
