<template>
  <router-link :to="`/${item.id}`">
    <b-card class="itemCard" :img-src="item.images[0]" img-alt="Image" img-top>
      <div class="itemCard__header">
        <div class="itemCard__header__title">{{ item.titulo }}</div>
        <div class="spacer"></div>
        <b-tag no-remove class="itemCard__header__price"
          >{{ item.precio }} $</b-tag
        >
      </div>
      <div class="itemCard__tag-group">
        <b-tag variant="white" no-remove>
          {{ item.marca }} {{ item.modelo }}
        </b-tag>
        <b-tag variant="white" no-remove>{{ item.estado }}</b-tag>
        <b-tag variant="white" no-remove>
          pantalla de {{ item.pantalla }}pulgs
        </b-tag>
        <b-tag variant="white" no-remove>{{ item.ram }}GB RAM</b-tag>
        <b-tag variant="white" no-remove>{{ item.rom }}GB ROM</b-tag>
        <b-tag variant="white" no-remove>{{ item.sistema }}</b-tag>
      </div>
    </b-card>
  </router-link>
</template>

<script>
export default {
  name: "itemCard",
  props: ["item"],
};
</script>