<template>
  <div class="navigation">
    <b-navbar toggleable="lg" type="dark" variant="primary">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" class="navigation__content" is-nav>
        <!-- Right aligned nav items -->
        <b-nav-form class="navigation__form">
          <b-form-input
            class="navigation__form__input"
            placeholder="Search"
          ></b-form-input>
          <b-button class="navigation__form__btn" type="submit">
            Search
          </b-button>
        </b-nav-form>
        <b-navbar-nav class="navigation__btn-group">
          <router-link class="btn btn-secondary" to="/">
            <b-icon icon="BIconHouseFill"></b-icon>
          </router-link>
          <router-link class="btn btn-secondary" to="/nuevo">
            <b-icon icon="BIconPlusCircleFill"></b-icon>
          </router-link>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { BIcon } from "bootstrap-vue";
export default {
  components: {
    BIcon,
  },
};
</script>