<template>
  <div id="app">
    <b-toaster name="top-toaster"></b-toaster>
    <navigation />
    <router-view />
    <div class="app__label">
      <p class="app__label__message">Hecho por Jose Carlos Ramirez (RP18010)</p>
    </div>
  </div>
</template>

<style lang="scss">
//Override vars
@import "./styles/vars";
// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "../node_modules/bootstrap-vue/src/index.scss";
//Personal stiles
@import "./styles/general";
</style>

<script>
import navigation from "./components/navigation.vue";

export default {
  name: "app",
  components: {
    navigation,
  },
};
</script>